<!DOCTYPE html>
<html ng-app="roster">

<head>
    <meta http-equiv="content-type" content="text/html; charset=gb2312"/>
    <script src="jquery-1.9.1.min.js"></script>
    <script src="angular.js"></script>
    <script src="controller.js"></script>

    <title>Roster</title>
</head>
<body>

<div ng-controller="RosterCtrl">
    <div class="span2">

        学号: <input type="text" ng-model="search">
        班级:（总数{{classList().length}}）
        <select ng-model="orderProp" ng-option='classNumber for classNumber in classList()'>
            <option value=""></option>
            <option ng-repeat="classNumber in classList()">{{classNumber}}</option>
        </select>
    </div>


    <ul style="margin-bottom:10px; list-style-type: none">
        <li>学号: {{search}}</li>
        <li>班级: {{orderProp}}</li>
        <p></p>
        <li ng-repeat="user in users | filter: orderProp+ search">{{user.name}}----{{user.username}}

        </li>
    </ul>
</div>

</body>
</html>