<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp" ng-controller = "PhoneListCtrl">
<head>
    <meta charset ="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href = "http://localhost:8000/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="http://localhost:8000/bower_components/angular/angular.js"></script>
    <script src = "../js/controller.js"></script>
</head>
<body>
<title ng-bind-template="Google Phone Gallery: {{query}}"> Google Phone Gallery</title>

<div class ="container-fluid">
    <div class ="row-fluid">
        <div class = "span2">
            <!--Sidebar content-->

            Search:<input ng-model="query">
            Sort by:
            <selet ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </selet>

        </div>
        <div class ="span10">
            <!--Body content-->

            <ul class = "phones">
                <li ng-repeat ="phone in phones | filter: query">
                    {{phone.name}}
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
<div id="status">Current filter:{{query}}</div>
<p> Total number of phones: {{phones.length}}</p>
<p>Hello, {{name}}!</p>
<table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0,1,2,3,4,5,6,7]"><td>{{i+1}}</td></tr>
</table>
</body>
</html>

